<div class="">.</div>
<img src="https://user-images.githubusercontent.com/61301090/282648432-33d99596-1a1a-4f8f-b392-3bedb42e161d.png" alt="Pet petch" width="1896" height="739"></img>
{% extends 'layout.html'%}
{% load static%}
{% load humanize %}
{% block content%}

<div class="container">
    <div class="row my-1">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                
                <a href="{{product.get_url}}"><img class="card-img-top h-100 hover-zoom" src="{{product.image.url}}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a class="nav-link " href="{{product.get_url}}">{{product.name}}</a>
                    </h4>
                    <h5>${{product.price|intcomma}}</h5>
                    <p class="card-text">{{product.description | slice:":70"}}...
                    </p>
                </div>
                <div class="card-footer">
                    <p class="card-text">For : {{product.slug}}</p>
                    <p class="card-text">In stock : {{product.stock}}</p>
                    
                    <!-- <h3><small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small></h3> -->
                    {% if product.stock == 0 %}
                        <h5><p class ="text-danger">สินค้าหมด</p></h5>
                    {% else %}
                        <a href="{%url 'addCart' product.id %}" class="btn btn-primary" >เพิ่มสินค้าลงตะกร้า</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <nav aria-label="pagination">
        {% if products.paginator.num_pages > 1 %}
        <ul class="pagination">
            {% for page_number in products.paginator.page_range %}
            <li class="page-item
            {% if products.number == page_number %}
                active
            {% endif %}
            "><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
      </nav>
</div>
{% endblock %}